
@{
    ViewBag.Title = "GetOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Food_Web.Models.Order_detail>

@foreach (var orderDetail in Model)
{
    <div>
        <p>Product Name: @orderDetail.Product.Productname</p>
        <p>Price: @orderDetail.price</p>
        <hr />
    </div>
}

