@*@model IEnumerable<Food_Web.Models.Product>*@
@using PagedList.Mvc

@model PagedList.IPagedList<Food_Web.Models.Product>
@{
    ViewBag.Title = "Sphomnay";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<div class="page-deal u-s-p-t-80">
    <div class="container">
        <!-- Page-Bar -->
        <div class="page-bar clearfix">

        </div>
        <!-- Page-Bar /- -->
        <!-- Row-of-Product-Container -->
        <div class="row product-container grid-style">

            @foreach (var item in Model)
            {
                <div class="product-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <!-- Added col-xs-12 -->
                    <div class="item">
                        <div class="image-container">
                            <a class="item-img-wrapper-link" href="single-product.html">
                                <img class="img-fluid product-image" src="~/Content/products/@item.image">
                            </a>
                            <div class="item-action-behaviors">
                                <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>
                                <a class="item-mail" href="javascript:void(0)">Mail</a>
                                <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>
                                <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="what-product-is">
                                <ul class="bread-crumb">
                                    <li class="has-separator">
                                        <a href="shop-v1-root-category.html">Men's</a>
                                    </li>
                                    <li class="has-separator">
                                        <a href="shop-v2-sub-category.html">Tops</a>
                                    </li>
                                    <li>
                                        <a href="shop-v3-sub-sub-category.html">Hoodies</a>
                                    </li>
                                </ul>
                                <h6 class="item-title">
                                    <a href="single-product.html">@item.Productname</a>
                                </h6>
                                <div class="item-description">
                                    <p>
                                        This hoodie is full cotton. It includes a muff sewn onto the lower front, and (usually) a drawstring to adjust the hood opening. Throughout the U.S., it is common for middle-school, high-school, and college students to wear this sweatshirts—with or without hoods—that display their respective school names or mascots across the chest, either as part of a uniform or personal preference.
                                    </p>
                                </div>
                                <div class="item-stars">
                                    <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                                        <span style='width:67px'></span>
                                    </div>
                                    <span>(23)</span>
                                </div>
                            </div>
                            <div class="price-template">
                                <div class="item-new-price">
                                    $55.00
                                </div>
                                <div class="item-old-price">
                                    $60.00
                                </div>
                            </div>
                        </div>
                        <div class="tag new">
                            <span>NEW</span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Sphomnay", new { page }))
    </div>

</div>
<style>
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .pagination a, .pagination span {
            display: inline-block;
            padding: 10px 15px;
            margin: 0 5px;
            border: 1px solid #ddd;
            text-decoration: none;
            color: #333;
            border-radius: 4px;

        }

            .pagination a:hover {
                background-color: #ff8c00; /* Đổi màu sắc hover thành màu cam */
            }

        .pagination .disabled, .pagination .disabled:hover {
            color: #aaa;
            pointer-events: none;
            cursor: default;
            background-color: transparent;
        }

        .pagination .active {
            color: #fff;
        }
    .product-item {
        margin-bottom: 20px; /* Adjust as needed */
    }

    .product-image {
        width: 253px;
        height: 253px;
        object-fit: cover;
    }

</style>