
@{
    ViewBag.Title = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>Thank you!</h1>
    <h5>
        If you haven't received it yet. click to
    </h5>
    <a href="~/Product/Index" class="thank-you-back">Back to homepage</a>
</div>